.nav-right-margin{
    margin-right: 10vw;
}
.flex-search{
    display: flex;
}
.margin-left{
    margin-left: 3vw;
}
.input-width{
    width: 20vw;
}
.search-display{
    display: flex;
}
.savedbtn{
    width: 100%;
    height: 5vh;
}
.savedbtn:hover{
    cursor: pointer;
}

